<!-- Page Title -->
<div class="page-title-area">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-7">
                <h2>Livraison & Retours</h2>
            </div>
            <div class="col-lg-6 col-md-5">
                <ul class="page-title-content">
                    <li><a routerLink="/">ACCUEIL</a></li>
                    <li>Livraison & Retours</li>
                </ul>
            </div>
        </div>
    </div>
</div>

<!-- Delivery & Returns -->
<div class="delivery-returns-area ptb-100">
    <div class="container">
        <div class="delivery-returns-content">
            <p>
                Frais d'expédition <br> <br>
Petits objets (livrés par une seule personne)<br>
- Livraison le lendemain (commande avant 20 heures) : gratuit<br>
- Livraison le jour même : gratuit<br>
- Temps spécifique (commande avant 18 heures) : 24,99 euros.<br>
<br>

Articles volumineux (livrés par 2 personnes ou plus)<br>
- Livraison le lendemain (commande avant 20 heures) : gratuit<br>
- Livraison le jour même : gratuit<br>
- Temps spécifique (commande avant 18 heures) : 29,99 euros.<br>
<br>
Livraison gratuite :<br>
Tous les articles peuvent être livrés gratuitement, uniquement en France, Royaume-Uni, Belgique, Italie, Suisse, Pays-Bas, Allemagne, Royaume-Uniet Espagne (du lundi au samedi uniquement pour les articles volumineux).
<br><br>
Créneau horaire spécifique :<br>
Vous pouvez choisir de payer un supplément pour choisir un créneau horaire spécifique pour votre livraison. 24,99 euros pour les petits articles et 19,99 euros pour les grands articles.
<br><br>
Livraison le jour même :<br>
Vous pouvez également choisir de payer un supplément (24,99 €) pour la livraison le jour même d'articles plus petits qui peuvent être livrés par une seule personne, du lundi au vendredi, uniquement dans certains codes postaux et à condition de commander avant midi.
<br><br>
Frais d'installation pour les articles de grande taille :<br>
Si vous souhaitez payer pour l'installation de votre produit, vous pouvez payer un supplément et les différentes options d'installation vous seront proposées lors du passage à la caisse. Les frais d'installation seront inclus dans les frais d'expédition.
            </p>
        </div>
    </div>
</div>

<app-subscribe></app-subscribe>