<div class="container">
    <div class="facility-inner border-radius">
        <div class="row">
            <div class="col-lg-3 col-sm-6 col-md-6">
                <div class="single-facility-box">
                    <div class="icon">
                        <i class="fas fa-truck"></i>
                    </div>
                    <h3>Livraison gratuite</h3>
                    <span>Commandes supérieures à €200</span>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 col-md-6">
                <div class="single-facility-box">
                    <div class="icon">
                        <i class="far fa-credit-card"></i>
                    </div>
                    <h3>Paiement sécurisé</h3>
                    <span>Paiement 100% sécurisé</span>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 col-md-6">
                <div class="single-facility-box">
                    <div class="icon">
                        <i class="fas fa-gift"></i>
                    </div>
                    <h3>Cadeau certifié</h3>
                    <span>Achetez maintenant €500 à €1000</span>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 col-md-6">
                <div class="single-facility-box">
                    <div class="icon">
                        <i class="fas fa-headphones-alt"></i>
                    </div>
                    <h3>24/7 Soutien</h3>
                    <span>Assistance prête</span>
                </div>
            </div>
        </div>
    </div>
</div>