<div class="container">
    <div class="row align-items-center">
        <div class="col-lg-3 col-md-12">
            <div class="partner-title">
                <h4>Nos Partenaires de Marque de Confiance</h4>
            </div>
        </div>
        <div class="col-lg-9 col-md-12">
            <div class="partners-list align-items-center">
                <div class="partner-item">
                    <a class="d-inline-block">
                        <img src="https://electr-france.com/image/cache/catalog/111/sony_logo_PNG2-112x95.png" alt="partner">
                    </a>
                </div>
                <div class="partner-item">
                    <a class="d-inline-block">
                        <img src="https://electr-france.com/image/cache/catalog/111/58480fd7cef1014c0b5e4943-112x95.png" alt="partner">
                    </a>
                </div>
                <div class="partner-item">
                    <a class="d-inline-block">
                        <img src="https://electr-france.com/image/cache/catalog/111/Msi_Logo-112x95.png" alt="partner">
                    </a>
                </div>
                <div class="partner-item">
                    <a class="d-inline-block">
                        <img src="https://electr-france.com/image/cache/catalog/111/Nvidia_logo-(1)-112x95.png" alt="partner">
                    </a>
                </div>
                <div class="partner-item">
                    <a class="d-inline-block">
                        <img src="https://electr-france.com/image/cache/catalog/111/asus-112x95.png" alt="partner">
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>