<div class="collection-area pb-70">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-5">
                <div class="collection-box">
                    <img src="https://electr-france.com/image/cache/catalog/111/Konsole-Sony-PS5-Full-digital-1-760x1000.jpg" alt="collection-image">
                    <div class="content style-two">
                        <span>Top Collection</span>
                        <h3>PS 5</h3>
                        <a routerLink="/products/ps-5" class="link-btn"><i class="fas fa-store"></i>COMMANDER</a>
                    </div>
                </div>
            </div>
            <div class="rightcolumn col-lg-7">
                <div class="collections-list">
                    <div class="collection-box">
                        <img src="https://store.storeimages.cdn-apple.com/4668/as-images.apple.com/is/iphone-13-pro-silver-select?wid=1200&hei=630&fmt=jpeg&qlt=95&.v=1631652954000" alt="collection-image">
                        <div class="content style-two">
                            <span>Nouvelle Arrivee</span>
                            <h3>iPhone 13 <br> Pro Max</h3>
                            <a routerLink="/products/iphone-13-pro-max-silver" class="link-btn"><i class="fas fa-store"></i>COMMANDER</a>
                        </div>
                    </div>
                    <div class="collection-box">
                        <img src="https://i.pcmag.com/imagery/reviews/02IVfjGisnI2rBYfxu9hDve-12..v1605193197.png" alt="collection-image">
                        <div class="content style-two">
                            <span>Top Collection</span>
                            <h3>Xbox X</h3>
                            <a routerLink="/products/xbox-x" class="link-btn"><i class="fas fa-store"></i>COMMANDER</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>