<div class="feedback-area pt-100 bg-f5f5f5 pb-70">
    <div class="container">
        <div class="section-title style-two">
            <h2>Commentaires des clients de confiance</h2>
            <p>Faites-vous autant confiance aux avis des clients en ligne qu'aux recommandations personnelles?</p>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="single-feedback-box">
                    <p>Je viens de recevoir ma première commande et je n'ai qu'un mot WOW!!! J'avais des doutes avant de commander car la plupart des sites peuvent ne pas rester en contact avec le client et je suis généralement déçu mais pas cette fois !! La livraison a également été très rapide, cela ne m'a pris que 5 jours environ. Aimer!! Je reviendrai pour acheter plus. Exactement!</p>
                    <h3>Jasica Lora <span>- TV Model</span></h3>
                    <div class="rating">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="single-feedback-box">
                    <p>OMG ... Super magasin! J'ai trouvé ce magasin lors d'une visite en France .. quelle trouvaille - de beaux appareils / bien faits / des prix intéressants. Je ne trouve jamais rien qui me plaise dans les magasins d'électronique en France mais j'aurais pu remplir une autre valise dans la vôtre* Je ferai désormais des achats sur ce site... S'il vous plaît, venez aux États-Unis !!!</p>
                    <h3>David Conway <span>- Développeur</span></h3>
                    <div class="rating">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="single-feedback-box">
                    <p>J'adore les styles à la mode que propose ce magasin. Les appareils ressemblent si bien à différents bundles et ils ont l'air incroyables. J'apprécie vraiment cette option et la qualité des produits est si grande que je commanderai des produits à l'avenir. Merci beaucoup de faire des techniques très bien!</p>
                    <h3>Joe Root <span>- Designer</span></h3>
                    <div class="rating">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>