<div class="subscribe-area pb-100">
    <div class="container">
        <div class="subscribe-inner" *ngFor="let Content of bgImage;" style="background-image: url({{Content.img}});">
            <div class="content">
                <h2>Inscrivez-vous maintenant et obtenez 10% de réduction</h2>
                <form [formGroup]="myForm" class="newsletter-form">
                    <input formControlName="email" type="email" class="input-newsletter" placeholder="Entrez votre adresse email" required>
                    <button (click)="subscribe()" type="submit"><i class="far fa-paper-plane"></i>ABONNEZ-VOUS MAINTENANT</button>
                </form>
            </div>
        </div>
    </div>
</div>