<!-- Page Title -->
<div class="page-title-area">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-7">
                <h2>À propos de nous</h2>
            </div>
            <div class="col-lg-6 col-md-5">
                <ul class="page-title-content">
                    <li><a routerLink="/">ACCUEIL</a></li>
                    <li>À propos de nous</li>
                </ul>
            </div>
        </div>
    </div>
</div>

<!-- About -->
<div class="about-area pt-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-md-12">
                <div class="about-content">
                    <h2>About <strong>El-Game</strong> Store</h2>
                </div>
            </div>
            <div class="col-lg-7 col-md-12">
                <div class="about-text">
                    <p><strong>Qui sommes-nous?</strong> 
                        <br>
                        Nous croyons passionnément en un monde où la mise en relation des personnes avec une technologie brillante enrichit les vies. Nous existons pour vous apporter ces idées, même si vous n'êtes pas un expert. Des ampoules à commande vocale aux sports électroniques en passant par les Raspberry Pi, nous avons tout ce qu'il vous faut.
                        <br><br>
                        Nous testons et améliorons sans cesse nos produits pour les rendre encore meilleurs chaque jour. De la livraison gratuite à l'écoute de vos commentaires sur les produits, en passant par les meilleures offres, si nous ne sommes pas encore au point, nous aimerions avoir votre avis.
                        <br>
                        Notre mission<br><br>
                        Nous nous efforçons de donner du pouvoir, d'inspirer et de fournir des solutions avec la technologie. La technologie peut être un outil, un hobby, un processus créatif, une forme d'art... Nous réunissons ces formes de technologie, les mettons dans une boîte, l'emballons avec un nœud et l'appelons!
                        <br><br>
                        <strong>Donnez du pouvoir à</strong> <br>
                        Vous devez avoir confiance dans votre capacité à savoir ce que vous achetez, avant même d'ouvrir votre panier. En présentant clairement et en décomposant toutes les informations clés, nous ferons gagner du temps à ceux qui s'y connaissent et nous donnerons les moyens à ceux qui n'ont pas la moindre idée.
                        <br><br>
                        <strong>Inspirez</strong> <br>
                        La compréhension de la technologie ouvre la porte à un monde de possibilités créatives. Nous voulons vous donner envie d'essayer quelque chose de nouveau. Les programmeurs en chambre des années 80 ont contribué à relancer l'industrie des jeux vidéo et John Carmack (programmeur du premier Doom) possède aujourd'hui sa propre entreprise de tourisme spatial. Tous les grands noms ont commencé avec un peu de curiosité et un rêve. Nous vous fournissons les outils pour vous aider à le réaliser !
                        <br><br>
                        <strong>Fournir des solutions</strong> <br>
                        À l'ère moderne, les heures de travail peuvent être longues, et la moindre tâche peut devenir un inconvénient. De temps en temps, les dieux de la technologie nous font cadeau d'un produit qui nous facilite la vie... parfois, ce produit ne conviendra pas à moins que nous achetions un adaptateur quelconque et nous nous retrouverons à crier "Pourquoi n'ont-ils pas inclus cet adaptateur en premier lieu ? Chez nous, notre objectif est de fournir les solutions dont vous avez besoin et de vous faciliter la vie.
                        </p>
                </div>
            </div>
            
        </div>
        <br><br>
        <app-funfacts></app-funfacts>
        <br>
    </div>
</div>
<div class="cscscs col-lg-12 col-md-2">
    <div class="about-image">
        <img src="https://electr-france.com/image/cache/catalog/Main-banner-3-1200x400.jpg" alt="about-image">
    </div>
</div>
<br>
<br><br>
<div class="facility-area pb-100">
    <app-facility></app-facility>
</div>

<app-subscribe></app-subscribe>