<footer class="footer-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-md-12 col-md-12">
                <div class="single-footer-widget pr-5">
                    <a class="navbar-brand" routerLink="/" style="font-size: 30px;"><strong>EL-GAME</strong></a>
                    <!--<ul class="social-links">
                        <li><a href="#" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
                        <li><a href="#" target="_blank"><i class="fab fa-twitter"></i></a></li>
                        <li><a href="#" target="_blank"><i class="fab fa-instagram"></i></a></li>
                        <li><a href="#" target="_blank"><i class="fab fa-pinterest-p"></i></a></li>
                    </ul>
                    <a href="#" target="_blank" class="location">Consultez notre boutique sur Google Map</a>-->
                </div>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-4">
                <div class="single-footer-widget">
                    <h3>Aider</h3>
                    <ul class="custom-links">
                        <li><a routerLink="/delivery-returns">Politique de retour</a></li>
                        <li><a routerLink="/terms-conditions">Termes et conditions</a></li>
                        <li><a routerLink="/privacy-policy">Politique de confidentialité</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-4">
                <div class="single-footer-widget">
                    <h3>Société</h3>
                    <ul class="custom-links">
                        <li><a routerLink="/about">À propos de nous</a></li>
                        <li><a routerLink="/faq" class="active">FAQ</a></li>
                        <li><a routerLink="/contact">Emplacement Nous</a></li>
                    </ul>
                </div>
            </div>
            <!--
            <div class="col-lg-3 col-md-4 col-sm-4">
                <div class="single-footer-widget">
                    <h3>Contacts</h3>
                    <ul class="custom-links">
                        <li><a href="#" target="_blank">Instagram</a></li>
                        <li><a href="#" target="_blank">Pinterest</a></li>
                        <li><a href="#" target="_blank">Facebook</a></li>
                    </ul>
                    <div class="phone">
                        <a href="tel:+33757137304">+33 757137304</a>
                    </div>
                </div>
            </div>
            -->
        </div>
        <div class="copyright-area">
            <div class="row align-items-center">
                <div class="col-lg-6 col-md-7 col-sm-7">
                    <p>Copyright @2021 El-Game. All Rights Reserved By <a href="https://envytheme.com/" target="_blank">EnvyTheme</a></p>
                </div>
                <div class="col-lg-6 col-md-5 col-sm-5">
                    <div class="payment-type">
                        <img src="assets/img/payment.png" alt="payment-type">
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>